.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-left: 10px;
  }

  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }